# SQL Reference

## Functions

### Binary Functions
[Docs](https://docs.blazingdb.com/docs/binary-ops)

#### Addition
```sql
SELECT column_A + column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount + tip_amount from taxi')

#### Subtraction
```sql
SELECT column_A - column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select total_amount - fare_amount from taxi')

#### Multiplication
```sql
SELECT column_A * column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select trip_distance * passenger_count from taxi')

#### Division
```sql
SELECT column_A / column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select tip_amount / passenger_count from taxi')

#### MODULUS (MOD)
```sql
SELECT MOD(column_A, column_B) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select MOD(tip_amount, fare_amount) from taxi')

#### POWER
```sql
SELECT POWER(column_A, column_B) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select POWER(tip_amount, fare_amount) from taxi')

#### EQUAL TO (Bool)
```sql
SELECT column_A = column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select (fare_amount = total_amount) from taxi')

#### NOT EQUAL TO
```sql
SELECT column_A <> column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount <> total_amount from taxi')

#### LESS THAN
```sql
SELECT column_A < column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount < tip_amount from taxi')

#### GREATER THAN
```sql
SELECT column_A > column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount > tip_amount from taxi')

#### LESS THAN OR EQUAL TO
```sql
SELECT column_A <= column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount <= tip_amount from taxi')

#### GREATER THAN OR EQUAL TO
```sql
SELECT column_A >= column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select fare_amount >= tip_amount from taxi')

#### COALESCE
```sql
SELECT COALESCE(column_A, column_B) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('SELECT COALESCE(fare_amount, 3) FROM taxi')

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**