# SQL Reference
## Functions

#### CAST
The CAST function allows you to cast a column from its original type to another type.

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        SELECT 
            VendorID as orig_1,
            CAST(MOD(VendorID, 2) AS BOOLEAN) as bool_example,
            trip_distance as orig_2,
            CAST(trip_distance AS TINYINT) as tiny_example,
            CAST(trip_distance AS SMALLINT) as small_example,
            CAST(trip_distance AS INTEGER) as int_example,
            CAST(trip_distance AS BIGINT) as big_example,
            passenger_count as orig_3,
            CAST(passenger_count AS FLOAT) as float_example,
            CAST(passenger_count AS DOUBLE) as double_example,
            CAST(tpep_pickup_datetime AS DATE) as date_example,
            CAST(RatecodeID AS TIMESTAMP) as timestamp_example,
            CAST(RatecodeID AS VARCHAR) as char_example            
        FROM
            taxi           
            '''
df = bc.sql(query)
print(df)
print(df.dtypes)

#### TO_DATE
Casts a string to a date, allowing for formatting options.
Formatting can be specified by using:
- `%Y` for year
- `%m` for month
- `%d` for day
- `%H` for hour
- `%M` for minute
- `%S` for second

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        SELECT 
            orig_date,
            TO_DATE(year_str || '-' || day_str || '-' || month_str, '%Y-%d-%m')
            FROM (
                SELECT
                    tpep_pickup_datetime as orig_date,
                    CAST(YEAR(tpep_pickup_datetime) AS VARCHAR) as year_str,
                    CAST(MONTH(tpep_pickup_datetime) AS VARCHAR) as month_str,
                    CAST(DAYOFMONTH(tpep_pickup_datetime) AS VARCHAR) as day_str
                FROM taxi
            ) as date_str
            '''
bc.sql(query)

#### TO_TIMESTAMP
Casts a string to a date, allowing for formatting options. Formatting can be specified by using:
- `%Y` for year
- `%m` for month
- `%d` for day
- `%H` for hour
- `%M` for minute
- `%S` for second

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        SELECT 
            orig_date,
            year_str || '-' || day_str || '-' || month_str || ' -- 01:02:03' as orig_str,
            TO_TIMESTAMP(year_str || '-' || day_str || '-' || month_str || ' -- 01:02:03', '%Y-%d-%m -- %H:%M:%S')
            FROM (
                SELECT
                    tpep_pickup_datetime as orig_date,
                    CAST(YEAR(tpep_pickup_datetime) AS VARCHAR) as year_str,
                    CAST(MONTH(tpep_pickup_datetime) AS VARCHAR) as month_str,
                    CAST(DAYOFMONTH(tpep_pickup_datetime) AS VARCHAR) as day_str
                FROM taxi
            ) as date_str
            '''
bc.sql(query)