# SQL Reference

## Functions

### DateTime Functions
[Docs](https://docs.blazingdb.com/docs/datetime-functions)

#### YEAR

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            YEAR(tpep_pickup_datetime)
        from
            taxi
            '''
bc.sql(query)

#### MONTH

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            MONTH(tpep_pickup_datetime)
        from
            taxi
            '''
bc.sql(query)

#### DAYOFMONTH

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            DAYOFMONTH(tpep_pickup_datetime)
        from
            taxi
            '''
bc.sql(query)

#### DAYOFWEEKÂ¶

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            DAYOFWEEK(tpep_pickup_datetime)
        from
            taxi
            '''
bc.sql(query)

#### HOUR

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            HOUR(tpep_pickup_datetime)
        from
            taxi
            '''
bc.sql(query)

#### MINUTE

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            MINUTE(tpep_pickup_datetime)                
        from
            taxi
            '''
bc.sql(query)

#### SECOND

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            SECOND(tpep_pickup_datetime)                
        from
            taxi
            '''
bc.sql(query)

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**