# SQL Reference

## Functions

### String Functions
[Docs](https://docs.blazingdb.com/docs/string-functions)

#### CHAR_LENGTH
Gets the length of a string.
```sql
SELECT CHAR_LENGTH(string_col) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name, CHAR_LENGTH(n_name) 
        from 
            nation
            '''
bc.sql(query)

#### CONCAT
Concatenate two strings with the `||` operator.

```sql
SELECT column_A || column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name || ' is the best'
        from
            nation
            '''
bc.sql(query)

#### LIKE 

The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

There are two wildcards often used in conjunction with the LIKE operator:

- `%` - The percent sign represents zero, one, or multiple characters
- `_` - The underscore represents a single character

#### LIKE (multiple characters)
```sql
SELECT p_partkey, p_type FROM part WHERE p_type LIKE '%BRASS'
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_comment
        from
            nation
            where
            n_comment LIKE '%the%'
            '''
bc.sql(query)

#### LIKE (single character)
```sql
SELECT c_name FROM customer WHERE c_name LIKE 'Customer%7__8'
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            fare_amount
        from
            taxi
            where
            fare_amount LIKE '1_.0'
            '''
bc.sql(query)

#### SUBSTRING
```sql
SELECT SUBSTRING(string_column, start, length) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4)
        from
            taxi
            '''
bc.sql(query)

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4) || '-' || SUBSTRING(tpep_pickup_datetime, 12, 8) 
        from
            taxi
            '''
bc.sql(query)

#### LEFT and RIGHT
```sql
SELECT LEFT(string_column, length) FROM table
SELECT RIGHT(string_column, length) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            tpep_pickup_datetime as original,
            LEFT(tpep_pickup_datetime, 4) as left_4,
            RIGHT(tpep_pickup_datetime, 8) as right_8                  
        from
            taxi
            '''
bc.sql(query)

#### LTRIM and RTRIM
```sql
SELECT LTRIM(string_col), RTRIM(string_col) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name, LTRIM(n_comment), RTRIM(n_comment)
        from
            nation
            '''
bc.sql(query)

#### TRIM

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            TRIM(LEADING 'A' FROM n_name) as leading_example, 
            TRIM(TRAILING 'A' FROM n_name) as trailing_example,
            TRIM('A' FROM n_name) as both_example, 
            TRIM('AN' FROM n_name) as multi_char_example, 
            TRIM('a' FROM n_name) as case_sensitive_example, 
            n_comment as original2, 
            TRIM(n_comment) as no_char_example
        from
            nation
            '''
bc.sql(query)

#### REPLACE
```sql
SELECT  REPLACE('bad', 'good', n_comment) FROM nation
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            REPLACE(n_name, 'UNITED', 'DIVIDED') as replace_example
        from
            nation
            '''
bc.sql(query)

#### UPPER and LOWER
```sql
SELECT UPPER(string_column), LOWER(string_column) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            LOWER(n_name) as lower_example,
            n_comment as original2, 
            UPPER(n_comment) as upper_example
        from
            nation
            '''
bc.sql(query)

#### REVERSE
```sql
SELECT REVERSE(string_column) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            REVERSE(n_name) as reverse_example,
            n_comment as original2, 
            REVERSE(n_comment) as reverse_example2
        from
            nation
            '''
bc.sql(query)

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**