# SQL Reference

## Functions

### String Functions
[Docs](https://docs.blazingdb.com/docs/string-functions)

#### CHAR_LENGTH
Gets the length of a string.
```sql
SELECT CHAR_LENGTH(string_col) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name, CHAR_LENGTH(n_name) 
        from 
            nation
            '''
bc.sql(query)

#### CONCAT
Concatenate two strings with the `||` operator.

```sql
SELECT column_A || column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name || ' is the best'
        from
            nation
            '''
bc.sql(query)

#### LIKE 

The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

There are two wildcards often used in conjunction with the LIKE operator:

- `%` - The percent sign represents zero, one, or multiple characters
- `_` - The underscore represents a single character

#### LIKE (multiple characters)
```sql
SELECT p_partkey, p_type FROM part WHERE p_type LIKE '%BRASS'
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_comment
        from
            nation
            where
            n_comment LIKE '%the%'
            '''
bc.sql(query)

#### LIKE (single character)
```sql
SELECT c_name FROM customer WHERE c_name LIKE 'Customer%7__8'
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            fare_amount
        from
            taxi
            where
            fare_amount LIKE '1_.0'
            '''
bc.sql(query)

#### SUBSTRING
```sql
SELECT SUBSTRING(string_column, start, length) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4)
        from
            taxi
            '''
bc.sql(query)

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4) || '-' || SUBSTRING(tpep_pickup_datetime, 12, 8) 
        from
            taxi
            '''
bc.sql(query)

#### LTRIM and RTRIM
```sql
SELECT LTRIM(string_col), RTRIM(string_col) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name, LTRIM(n_comment), RTRIM(n_comment)
        from
            nation
            '''
bc.sql(query)

#### TRIM

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            TRIM(LEADING 'A' FROM n_name) as leading_example, 
            TRIM(TRAILING 'A' FROM n_name) as trailing_example,
            TRIM('A' FROM n_name) as both_example, 
            TRIM('AN' FROM n_name) as multi_char_example, 
            TRIM('a' FROM n_name) as case_sensitive_example, 
            n_comment as original2, 
            TRIM(n_comment) as no_char_example
        from
            nation
            '''
bc.sql(query)

#### REPLACE
```sql
SELECT  REPLACE('bad', 'good', n_comment) FROM nation
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            REPLACE(n_name, 'UNITED', 'DIVIDED') as replace_example
        from
            nation
            '''
bc.sql(query)

#### UPPER and LOWER
```sql
SELECT UPPER(string_column), LOWER(string_column) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

In [ ]:
query = '''
        select 
            n_name as original, 
            LOWER(n_name) as lower_example,
            n_comment as original2, 
            UPPER(n_comment) as upper_example
        from
            nation
            '''
bc.sql(query)

#### REVERSE
```sql
SELECT REVERSE(string_column) FROM table
```

In [1]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../../data/nation.parquet')

BlazingContext ready

In [2]:
query = '''
        select 
            n_name as original, 
            REVERSE(n_name) as reverse_example,
            n_comment as original2, 
            REVERSE(n_comment) as reverse_example2
        from
            nation
            '''
bc.sql(query)

,original,reverse_example,original2,reverse_example2
0,ALGERIA,AIREGLA,haggle. carefully final deposits detect slyly...,iaga ylyls tceted stisoped lanif ylluferac .el...
1,ARGENTINA,ANITNEGRA,al foxes promise slyly according to the regula...,nola stseuqer dlob .stnuocca raluger eht ot gn...
2,BRAZIL,LIZARB,y alongside of the pending deposits. carefully...,laiceps ylyls .segrof cinori eht tuoba era se...
3,CANADA,ADANAC,"eas hang ironic, silent packages. slyly regula...",dlob yliffulf .sehtit eht revo ylsuoiruf era s...
4,EGYPT,TPYGE,y above the carefully unusual theodolites. fin...,d raluger ylsuoiruf eht ssorca ylkciuq era stu...
5,ETHIOPIA,AIPOIHTE,ven packages wake quickly. regu,uger .ylkciuq ekaw segakcap nev
6,FRANCE,ECNARF,"refully final requests. regular, ironi","inori ,raluger .stseuqer lanif yllufer"
7,GERMANY,YNAMREG,"l platelets. regular accounts x-ray: unusual, ...","occa raluger ,lausunu :yar-x stnuocca raluger ..."
8,INDIA,AIDNI,ss excuses cajole slyly across the packages. d...,nuora tnirp stisoped .segakcap eht ssorca ylyl...
9,INDONESIA,AISENODNI,slyly express asymptotes. regular deposits ha...,lluferac .ylehtilb peels sreyalp yekcoh cinori...
10,IRAN,NARI,efully alongside of the slyly final dependenci...,.seicnedneped lanif ylyls eht fo edisgnola yl...
11,IRAQ,QARI,nic deposits boost atop the quickly final requ...,aluger ylkciuq ?stseuqer lanif ylkciuq eht pot...
12,JAPAN,NAPAJ,"ously. final, express gifts cajole a","a elojac stfig sserpxe ,lanif .ylsuo"
13,JORDAN,NADROJ,ic deposits are blithely about the carefully r...,ap raluger ylluferac eht tuoba ylehtilb era st...
14,KENYA,AYNEK,pending excuses haggle furiously deposits. pe...,"t tsap yliffulf ekaw snaeb otnip sserpxe ,gnid..."
15,MOROCCO,OCCOROM,rns. blithely bold courts among the closely re...,?steletalp dlob ylsuoiruf esu segakcap raluger...
16,MOZAMBIQUE,EUQIBMAZOM,"s. ironic, unusual asymptotes wake blithely r","r ylehtilb ekaw setotpmysa lausunu ,cinori .s"
17,PERU,UREP,platelets. blithely pending dependencies use f...,nuocca tnelis ylluferac .snaeb otnip neve eht ...
18,CHINA,ANIHC,c dependencies. furiously express notornis sle...,soped .peels saedi .stnuocca raluger ylyls pee...
19,ROMANIA,AINAMOR,ular asymptotes are about the furious multipli...,tnuocca cinori yllacinori eht evoba gan seicne...
20,SAUDI ARABIA,AIBARA IDUAS,ts. silent requests haggle. closely express pa...,ylehtilb eht ssorca peels segakcap sserpxe yle...
21,VIETNAM,MANTEIV,"hely enticingly express accounts. even, final","lanif ,neve .stnuocca sserpxe ylgnicitne yleh"
22,RUSSIA,AISSUR,requests against the platelets use never acco...,tnip raluger ylkciuq eht ot gnidrocca reven es...
23,UNITED KINGDOM,MODGNIK DETINU,eans boost carefully special requests. account...,lluferac .era stnuocca .stseuqer laiceps ylluf...
24,UNITED STATES,SETATS DETINU,y final packages. slow foxes cajole quickly. q...,eb otnip lausunu .stnuocca cinori hcaerb stele...

In [3]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../../data/sample_taxi.parquet')

BlazingContext ready

In [6]:
query = '''
        select 
            tpep_pickup_datetime,
            cast(tpep_pickup_datetime as CHAR)
        from
            taxi
            '''
bc.sql(query)

       tpep_pickup_datetime               EXPR$1
0       2015-01-15 19:05:39  2015-01-15 19:05:39
1       2015-01-10 20:33:38  2015-01-10 20:33:38
2       2015-01-10 20:33:38  2015-01-10 20:33:38
3       2015-01-10 20:33:39  2015-01-10 20:33:39
4       2015-01-10 20:33:39  2015-01-10 20:33:39
...                     ...                  ...
743655  2015-01-28 11:11:43  2015-01-28 11:11:43
743656  2015-01-28 11:11:43  2015-01-28 11:11:43
743657  2015-01-28 11:11:43  2015-01-28 11:11:43
743658  2015-01-28 11:11:43  2015-01-28 11:11:43
743659  2015-01-28 11:11:44  2015-01-28 11:11:44

[743660 rows x 2 columns]

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**