# SQL Reference

## Functions

### String Functions
[Docs](https://docs.blazingdb.com/docs/string-functions)

#### CONCAT
Concatenate two strings with the `||` operator.

```sql
SELECT column_A || column_B FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            tpep_pickup_datetime || '.001'
        from
            taxi
            '''
bc.sql(query)

#### SUBSTRING
```sql
SELECT SUBSTRING(string_column, start, length) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4)
        from
            taxi
            '''
bc.sql(query)

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4) || '-' || SUBSTRING(tpep_pickup_datetime, 12, 8) 
        from
            taxi
            '''
bc.sql(query)

#### CHAR_LENGTH
Gets the length of a string.
```sql
SELECT CHAR_LENGTH(string_col) FROM table
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            CHAR_LENGTH(tpep_pickup_datetime) 
        from 
            taxi
            '''
bc.sql(query)

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**