# SQL Reference

## Functions

### Unary Functions
[Docs](https://docs.blazingdb.com/docs/unary-ops)

#### FLOOR
Returns the largest integer value that is smaller than or equal to a number.
```sql
SELECT FLOOR(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select FLOOR(trip_distance), trip_distance from taxi')

#### CEILING
Returns the smallest integer value that is larger than or equal to a number.
```sql
SELECT CEILING(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select CEILING(trip_distance), trip_distance from taxi')

#### SIN
```sql
SELECT SIN(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select SIN(trip_distance) from taxi')

#### COS
```sql
SELECT COS(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select COS(trip_distance) from taxi')

#### TAN
```sql
SELECT TAN(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select TAN(trip_distance) from taxi')

#### ASIN
```sql
SELECT ASIN(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select ASIN(trip_distance) from taxi')

#### ACOS
```sql
SELECT ACOS(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select ACOS(trip_distance) from taxi')

#### ATAN
```sql
SELECT ATAN(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select ATAN(trip_distance) from taxi')

#### ABSOLUTE (ABS)
```sql
SELECT ABS(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select ABS(dropoff_x) from taxi')

#### LN
```sql
SELECT LN(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select LN(trip_distance) from taxi')

#### LOG
```sql
SELECT LOG10(column_A) FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

In [ ]:
bc.sql('select LOG10(trip_distance) from taxi')

#### RAND
```sql
SELECT column_A, RAND() FROM table_A
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

# BlazingSQL Docs
**[Table of Contents](../../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**