# cuDF Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import numpy as np

### Sample DataFrame

In [2]:
df = cudf.DataFrame(
    [
          (39, 6.88, np.datetime64('2020-10-08T12:12:01'), np.timedelta64(14378,'s'), 'C', 'D', 'data'
            , 'RAPIDS.ai is a suite of open-source libraries that allow you to run your end to end data science and analytics pipelines on GPUs.')
        , (11, 4.21, None,                                 None                     , 'A', 'D', 'cuDF'
            , 'cuDF is a Python GPU DataFrame (built on the Apache Arrow columnar memory format)')
        , (31, 4.71, np.datetime64('2020-10-10T09:26:43'), np.timedelta64(12909,'s'), 'U', 'D', 'memory'
            , 'cuDF allows for loading, joining, aggregating, filtering, and otherwise manipulating tabular data using a DataFrame style API.')
        , (40, 0.93, np.datetime64('2020-10-11T17:10:00'), np.timedelta64(10466,'s'), 'P', 'B', 'tabular'
            , '''If your workflow is fast enough on a single GPU or your data comfortably fits in memory on 
                 a single GPU, you would want to use cuDF.''')
        , (33, 9.26, np.datetime64('2020-10-15T10:58:02'), np.timedelta64(35558,'s'), 'O', 'D', 'parallel'
            , '''If you want to distribute your workflow across multiple GPUs or have more data than you can fit 
                 in memory on a single GPU you would want to use Dask-cuDF''')
        , (42, 4.21, np.datetime64('2020-10-01T10:02:23'), np.timedelta64(20480,'s'), 'U', 'C', 'GPUs'
            , 'BlazingSQL provides a high-performance distributed SQL engine in Python')
        , (36, 3.01, np.datetime64('2020-09-30T14:36:26'), np.timedelta64(24409,'s'), 'T', 'D', None
            , 'BlazingSQL is built on the RAPIDS GPU data science ecosystem')
        , (38, 6.44, np.datetime64('2020-10-10T08:34:36'), np.timedelta64(90171,'s'), 'X', 'B', 'csv'
            , 'BlazingSQL lets you ETL raw data directly into GPU memory as a GPU DataFrame (GDF)')
        , (17, 5.28, np.datetime64('2020-10-09T08:34:40'), np.timedelta64(30532,'s'), 'P', 'D', 'dataframes'
            , 'Dask is a flexible library for parallel computing in Python')
        , (10, 8.28, np.datetime64('2020-10-03T03:31:21'), np.timedelta64(23552,'s'), 'W', 'B', 'python'
            , None)
    ]
    , columns = ['num', 'float', 'datetime', 'timedelta', 'char', 'category', 'word', 'string']
)
df['category'] = df['category'].astype('category')

---

# Summarize

---

## <span style="color:blue">DataFrame</span>

#### cudf.core.dataframe.DataFrame.describe()

In [3]:
df.describe()

/opt/conda/envs/rapids/lib/python3.8/site-packages/cudf/core/column/string.py:4923: UserWarning: fillna parameter not supported for string arrays
  warnings.warn("fillna parameter not supported for string arrays")

             num      float                  timedelta
count  10.000000  10.000000                          9
mean   29.700000   5.321000  0 days 08:06:01.666666667
std    12.311241   2.481471  0 days 06:45:06.869167994
min    10.000000   0.930000            0 days 02:54:26
25%    20.500000   4.210000            0 days 03:59:38
50%    34.500000   4.995000            0 days 06:32:32
75%    38.750000   6.770000            0 days 08:28:52
max    42.000000   9.260000            1 days 01:02:51

In [4]:
df.describe(percentiles=[0.1, 0.25, 0.5, 0.75, 0.9])

/opt/conda/envs/rapids/lib/python3.8/site-packages/cudf/core/column/string.py:4923: UserWarning: fillna parameter not supported for string arrays
  warnings.warn("fillna parameter not supported for string arrays")

             num      float                  timedelta
count  10.000000  10.000000                          9
mean   29.700000   5.321000  0 days 08:06:01.666666667
std    12.311241   2.481471  0 days 06:45:06.869167994
min    10.000000   0.930000            0 days 02:54:26
10%    10.900000   2.802000            0 days 03:27:00
25%    20.500000   4.210000            0 days 03:59:38
50%    34.500000   4.995000            0 days 06:32:32
75%    38.750000   6.770000            0 days 08:28:52
90%    40.200000   8.378000            0 days 12:54:40
max    42.000000   9.260000            1 days 01:02:51

#### cudf.core.dataframe.DataFrame.groupby()

In [5]:
df.groupby('category').count()

          num  float  datetime  timedelta  char  word  string
category
D           6      6         5          5     6     5       6
B           3      3         3          3     3     3       2
C           1      1         1          1     1     1       1

In [6]:
df.groupby('category').agg({'num': 'sum', 'float': 'max', 'word': 'count'})

          num  float  word
category
D         167   9.26     5
B          88   8.28     3
C          42   4.21     1

#### cudf.core.dataframe.DataFrame.max()

In [7]:
df[['num', 'float']].max()

num      42.00
float     9.26
dtype: float64

In [8]:
df[['num', 'float']].max(axis=1)

0    39.0
1    11.0
2    31.0
3    40.0
4    33.0
5    42.0
6    36.0
7    38.0
8    17.0
9    10.0
dtype: float64

#### cudf.core.dataframe.DataFrame.mean()

In [9]:
df[['num', 'float']].mean()

num      29.700
float     5.321
dtype: float64

In [10]:
df[['num', 'float']].mean(axis=1)

0    22.940
1     7.605
2    17.855
3    20.465
4    21.130
5    23.105
6    19.505
7    22.220
8    11.140
9     9.140
dtype: float64

#### cudf.core.dataframe.DataFrame.min()

In [11]:
df[['num', 'float']].min()

num      10.00
float     0.93
dtype: float64

In [12]:
df[['num', 'float']].min(axis=1)

0    6.88
1    4.21
2    4.71
3    0.93
4    9.26
5    4.21
6    3.01
7    6.44
8    5.28
9    8.28
dtype: float64

#### cudf.core.dataframe.DataFrame.quantile()

In [13]:
df[['num', 'float']].quantile()

num      34.500
float     4.995
Name: 0.5, dtype: float64

In [14]:
df[['num', 'float']].quantile(.25)

num      20.50
float     4.21
Name: 0.25, dtype: float64

#### cudf.core.dataframe.DataFrame.std()

In [15]:
df[['num', 'float']].std()

num      12.311241
float     2.481471
dtype: float64

In [16]:
df[['num', 'float']].std(axis=1)

0    22.712270
1     4.801255
2    18.589837
3    27.626662
4    16.786715
5    26.721565
6    23.327453
7    22.316290
8     8.287291
9     1.216224
dtype: float64

#### cudf.core.dataframe.DataFrame.sum()

In [17]:
df[['num', 'float']].sum()

num      297.00
float     53.21
dtype: float64

In [18]:
df[['num', 'float']].sum(axis=1)

0    45.88
1    15.21
2    35.71
3    40.93
4    42.26
5    46.21
6    39.01
7    44.44
8    22.28
9    18.28
dtype: float64

## <span style="color:blue">Series</span>

#### cudf.core.series.Series.describe()

In [19]:
df['num'].describe()

count    10.000000
mean     29.700000
std      12.311241
min      10.000000
25%      20.500000
50%      34.500000
75%      38.750000
max      42.000000
Name: num, dtype: float64

#### cudf.core.series.Series.groupby()

In [20]:
temp = df[['category', 'num']]
temp = temp.set_index('category')

In [21]:
temp.groupby(level=0).sum()

          num
category
D         167
B          88
C          42

#### cudf.core.series.Series.max()

In [22]:
df['num'].max()

42

#### cudf.core.series.Series.mean()

In [23]:
df['num'].mean()

29.7

#### cudf.core.series.Series.min()

In [24]:
df['num'].min()

10

#### cudf.core.series.Series.quantile()

In [25]:
df['num'].quantile()

34.5

In [26]:
df['num'].quantile(0.25)

20.5

#### cudf.core.series.Series.std()

In [27]:
df['num'].std()

12.311241475442955

#### cudf.core.series.Series.sum()

In [28]:
df['num'].sum()

297

#### cudf.core.series.Series.unique()

In [29]:
df['num'].unique()

0    10
1    11
2    17
3    31
4    33
5    36
6    38
7    39
8    40
9    42
Name: num, dtype: int64

## <span style="color:blue">GroupBy object</span>

#### cudf.core.groupby.groupby.GroupBy.apply_grouped()

In [30]:
from numba import cuda

def multiply(a, b, output):
    for i in range(cuda.threadIdx.x, len(a), cuda.blockDim.x):
        output[i] = a[i] * b[i]
        
df.groupby('category').apply_grouped(
    multiply
    , incols={'num': 'a', 'float': 'b'}
    , outcols={'output': np.float64}
    , kwargs={}
)

,num,float,datetime,timedelta,char,category,word,string,output
3,40,0.93,2020-10-11 17:10:00,0 days 02:54:26,P,B,tabular,If your workflow is fast enough on a single GP...,37.20
7,38,6.44,2020-10-10 08:34:36,1 days 01:02:51,X,B,csv,BlazingSQL lets you ETL raw data directly into...,244.72
9,10,8.28,2020-10-03 03:31:21,0 days 06:32:32,W,B,python,<NA>,82.80
5,42,4.21,2020-10-01 10:02:23,0 days 05:41:20,U,C,GPUs,BlazingSQL provides a high-performance distrib...,176.82
0,39,6.88,2020-10-08 12:12:01,0 days 03:59:38,C,D,data,RAPIDS.ai is a suite of open-source libraries ...,268.32
1,11,4.21,<NA>,<NA>,A,D,cuDF,cuDF is a Python GPU DataFrame (built on the A...,46.31
2,31,4.71,2020-10-10 09:26:43,0 days 03:35:09,U,D,memory,"cuDF allows for loading, joining, aggregating,...",146.01
4,33,9.26,2020-10-15 10:58:02,0 days 09:52:38,O,D,parallel,If you want to distribute your workflow across...,305.58
6,36,3.01,2020-09-30 14:36:26,0 days 06:46:49,T,D,<NA>,BlazingSQL is built on the RAPIDS GPU data sci...,108.36
8,17,5.28,2020-10-09 08:34:40,0 days 08:28:52,P,D,dataframes,Dask is a flexible library for parallel comput...,89.76