# cuGraph Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import cugraph
import json 
import pandas as pd

### Create graph dataframes

We use the Star Wars social network graph prepared by Evelina Gabasova: Gabasova, E. (2016). Star Wars social network. DOI: https://doi.org/10.5281/zenodo.1411479.

In [2]:
interactions = json.loads(open('data/starwars-full-interactions.json', 'r').read())

edges = cudf.from_pandas(pd.DataFrame(interactions['links']))
nodes = cudf.from_pandas(pd.DataFrame(interactions['nodes'])).drop('colour', axis=1).reset_index()

g = cugraph.Graph()
g.from_cudf_edgelist(
    edges
    , source='source'
    , destination='target'
    , edge_attr='value'
    , renumber=True
)

---

# Graph transformation

---

#### cugraph.structure.graph.Graph.add_internal_vertex_id()

In [3]:
g.add_internal_vertex_id(
    nodes
    , external_column_name='index'
    , internal_column_name='mapped_vertex_id'
)

              name  value mapped_vertex_id
0          QUI-GON     61                9
1      NUTE GUNRAY     24               11
2             PK-4      3               66
3            TC-14      4               94
4          OBI-WAN    147                5
..             ...    ...              ...
105      YOLO ZIFF      3              105
106  COLONEL DATOO      3               79
107      ELLO ASTY      4               28
108           JESS      4               30
109        NIV LEK      3               52

[110 rows x 3 columns]

#### cugraph.structure.graph.Graph.get_two_hop_neighbors()

In [4]:
g.get_two_hop_neighbors()

      first  second
0        85      72
1        85      87
2        85      27
3        85      37
4        85      99
...     ...     ...
4845     56       1
4846     56      50
4847     56      67
4848     56      64
4849     56       9

[4850 rows x 2 columns]

#### cugraph.structure.graph.Graph.lookup_internal_vertex_id()

In [5]:
g.lookup_internal_vertex_id(cudf.Series([0,1,2,3]))

0     9
1    11
2    66
3    94
Name: id, dtype: int32

#### cugraph.structure.symmetrize.symmetrize()

In [6]:
src, dst, val = cugraph.symmetrize(edges['source'], edges['target'], edges['value'])

#### cugraph.structure.graph.Graph.clear()

In [7]:
g.clear()

#### cugraph.structure.graph.Graph.delete_adj_list()

In [8]:
g.delete_adj_list()

#### cugraph.structure.graph.Graph.delete_edge_list()

In [9]:
g.delete_edge_list()