# cuGraph Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import cugraph
import json 
import pandas as pd

### Create graph dataframes

We use the Star Wars social network graph prepared by Evelina Gabasova: Gabasova, E. (2016). Star Wars social network. DOI: https://doi.org/10.5281/zenodo.1411479.

In [2]:
interactions = json.loads(open('data/starwars-full-interactions.json', 'r').read())

edges = cudf.from_pandas(pd.DataFrame(interactions['links']))
nodes = cudf.from_pandas(pd.DataFrame(interactions['nodes'])).drop('colour', axis=1).reset_index()

g = cugraph.Graph()
g.from_cudf_edgelist(
    edges
    , source='source'
    , destination='target'
    , edge_attr='value'
    , renumber=True
)

---

# Graph traversal

---

#### cugraph.traversal.bfs.bfs

In [3]:
cugraph.bfs(g, start=0)

     distance  vertex  predecessor
0           2     104           21
1           3      93           70
2           1      29            0
3           1      30            0
4           1      26            0
..        ...     ...          ...
104         2      58           33
105         1      19            0
106         2      34            8
107         2      91           21
108         2      44            4

[109 rows x 3 columns]

#### cugraph.traversal.sssp.shortest_path()

In [4]:
cugraph.shortest_path(g, 0)

     distance  vertex  predecessor
0         3.0      46           50
1         5.0     109           91
2         3.0      36           17
3         2.0      74           21
4         2.0      55            1
..        ...     ...          ...
104       2.0      58           33
105       2.0      19            0
106       2.0      34            1
107       3.0      91           21
108       6.0      44           43

[109 rows x 3 columns]

#### cugraph.traversal.sssp.sssp()

In [5]:
cugraph.sssp(g, 0)

     distance  vertex  predecessor
0         3.0      46            4
1         5.0     109           91
2         3.0      36           17
3         2.0      74           21
4         2.0      55            1
..        ...     ...          ...
104       2.0      58           33
105       2.0      19            0
106       2.0      34            1
107       3.0      91           21
108       6.0      44           43

[109 rows x 3 columns]