# cuGraph Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import cugraph
import json 
import pandas as pd

### Create graph dataframes

We use the Star Wars social network graph prepared by Evelina Gabasova: Gabasova, E. (2016). Star Wars social network. DOI: https://doi.org/10.5281/zenodo.1411479.

In [2]:
interactions = json.loads(open('data/starwars-full-interactions.json', 'r').read())

edges = cudf.from_pandas(pd.DataFrame(interactions['links']))
nodes = cudf.from_pandas(pd.DataFrame(interactions['nodes'])).drop('colour', axis=1).reset_index()

g = cugraph.Graph()
g.from_cudf_edgelist(
    edges
    , source='source'
    , destination='target'
    , edge_attr='value'
    , renumber=True
)
g = g.to_directed()

---

# Graph components

---

#### cugraph.components.connectivity.strongly_connected_components()

In [3]:
cugraph.strongly_connected_components(g)

     labels  vertex
0         0      88
1         0      72
2         0      87
3         0       5
4         0      25
..      ...     ...
104       0      23
105       0     107
106       0      22
107       0     108
108       0      85

[109 rows x 2 columns]

#### cugraph.components.connectivity.weakly_connected_components()

In [4]:
cugraph.weakly_connected_components(g)

     labels  vertex
0         1      54
1         1      53
2         1      69
3         1      73
4         1      20
..      ...     ...
104       1      23
105       1     107
106       1      22
107       1     108
108       1      85

[109 rows x 2 columns]