# cuGraph Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import cugraph
import json 
import pandas as pd

### Create graph dataframes

We use the Star Wars social network graph prepared by Evelina Gabasova: Gabasova, E. (2016). Star Wars social network. DOI: https://doi.org/10.5281/zenodo.1411479.

In [2]:
interactions = json.loads(open('data/starwars-full-interactions.json', 'r').read())

edges = cudf.from_pandas(pd.DataFrame(interactions['links']))
nodes = cudf.from_pandas(pd.DataFrame(interactions['nodes'])).drop('colour', axis=1)

g = cugraph.Graph()
g.from_cudf_edgelist(
    edges
    , source='source'
    , destination='target'
    , edge_attr='value'
    , renumber=False
)

---

# Graph properties

---

#### cugraph.structure.graph.Graph.degree()

In [3]:
g.degree()

     vertex  degree
0         0      52
1         1      32
2         2       4
3         3      10
4         4      70
..      ...     ...
105     105       8
106     106       2
107     107       8
108     108      10
109     109       8

[110 rows x 2 columns]

In [4]:
g.degree([0,1])

   vertex  degree
0       0      52
1       1      32

#### cugraph.structure.graph.Graph.degrees()

In [5]:
g.degrees()

     vertex  in_degree  out_degree
0         0         26          26
1         1         16          16
2         2          2           2
3         3          5           5
4         4         35          35
..      ...        ...         ...
105     105          4           4
106     106          1           1
107     107          4           4
108     108          5           5
109     109          4           4

[110 rows x 3 columns]

In [6]:
g.degrees([0,1])

   vertex  in_degree  out_degree
0       0         26          26
1       1         16          16

#### cugraph.structure.graph.Graph.edges()

In [7]:
g.edges()

     src  dst
0     92  100
1      6   22
2     64   72
3     74   75
4     30   53
..   ...  ...
393    8   34
394    8   29
395   14   23
396    1    3
397   11   12

[398 rows x 2 columns]

#### cugraph.structure.graph.Graph.has_edge()

In [8]:
g.has_edge(0,1)

True

#### cugraph.structure.graph.Graph.has_node()

In [9]:
g.has_node(3)

True

#### cugraph.structure.graph.Graph.in_degree()

In [10]:
g.in_degree()

     vertex  degree
0         0      26
1         1      16
2         2       2
3         3       5
4         4      35
..      ...     ...
105     105       4
106     106       1
107     107       4
108     108       5
109     109       4

[110 rows x 2 columns]

In [11]:
g.in_degree([0,1])

   vertex  degree
0       0      26
1       1      16

#### cugraph.structure.graph.Graph.is_bipartite()

In [12]:
g.is_bipartite()

False

#### cugraph.structure.graph.Graph.is_directed()

In [13]:
g.is_directed()

False

#### cugraph.structure.graph.Graph.is_multipartite()

In [14]:
g.is_multipartite()

False

#### cugraph.structure.graph.Graph.neighbors()

In [15]:
g.neighbors(0)

0     27
1     23
2      3
3     26
4     21
5     29
6     13
7     15
8     33
9     16
10    10
11    18
12    31
13    24
14     8
15    17
16    14
17    30
18    28
19     9
20     1
21    32
22    19
23     4
24    20
25    11
Name: dst, dtype: int64

In [16]:
g.neighbors(3)

0    1
1    4
2    2
3    0
4    5
Name: dst, dtype: int64

#### cugraph.structure.graph.Graph.nodes()

In [17]:
g.nodes()

0        0
1        1
2        2
3        3
4        4
      ...
104    105
105    106
106    107
107    108
108    109
Length: 109, dtype: int64

#### cugraph.structure.graph.Graph.number_of_edges()

In [18]:
g.number_of_edges()

398

#### cugraph.structure.graph.Graph.number_of_nodes()

In [19]:
g.number_of_nodes()

110

#### cugraph.structure.graph.Graph.number_of_vertices()

In [20]:
g.number_of_vertices()

110

#### cugraph.structure.graph.Graph.out_degree()

In [21]:
g.out_degree()

     vertex  degree
0         0      26
1         1      16
2         2       2
3         3       5
4         4      35
..      ...     ...
105     105       4
106     106       1
107     107       4
108     108       5
109     109       4

[110 rows x 2 columns]

In [22]:
g.out_degree([0,1])

   vertex  degree
0       0      26
1       1      16

#### cugraph.structure.graph.Graph.sets()

In [23]:
g.sets()

{}

#### cugraph.structure.graph.Graph.to_directed()

In [24]:
g.to_directed()

#### cugraph.structure.graph.Graph.to_undirected()

In [25]:
g.to_undirected()

#### cugraph.structure.graph.Graph.view_adj_list()

In [26]:
g.view_adj_list()

(0        0
 1       26
 2       42
 3       44
 4       49
       ...
 106    782
 107    783
 108    787
 109    792
 110    796
 Length: 111, dtype: int32,
 0        1
 1        3
 2        4
 3        8
 4        9
       ...
 791    109
 792     91
 793    105
 794    107
 795    108
 Length: 796, dtype: int32,
 0       1.0
 1       1.0
 2      26.0
 3       1.0
 4       9.0
        ...
 791     2.0
 792     2.0
 793     1.0
 794     2.0
 795     2.0
 Length: 796, dtype: float32)

#### cugraph.structure.graph.Graph.view_edge_list()

In [27]:
g.view_edge_list()

     src  dst  weights
0     92  100        2
1      6   22        1
2     64   72        1
3     74   75        1
4     30   53        1
..   ...  ...      ...
393    8   34        1
394    8   29        3
395   14   23        1
396    1    3        1
397   11   12        2

[398 rows x 3 columns]