# BlazingContext API




.

## BlazingContext
[Docs](https://docs.blazingdb.com/docs/blazingcontext) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb)

In [ ]:
from blazingsql import BlazingContext

Create basic BlazingContext instance.

In [ ]:
bc = BlazingContext()

Configure some options when creating a BlazingContext instance.

In [ ]:
bc = BlazingContext(dask_client=None,
                    network_interface=None,
                    allocator='managed',
                    pool=False,
                    initial_pool_size=None,
                    enable_logging=False)

.


.


.

### [Distributed SQL](https://docs.blazingdb.com/docs/distributed)
Distribute BlazingSQL query execution across multiple GPUs with Dask.

#### Single Node Multi-GPU
Distribute BlazingSQL query execution across all GPUs within the same system. Read more with our blog post "[Distributed SQL with Dask](https://blog.blazingdb.com/distributed-sql-with-dask-2979262acc8a?source=friends_link&sk=077319064cd7d9e18df8c0292eb5d33d)".

In [ ]:
from dask_cuda import LocalCUDACluster
from dask.distributed import Client

cluster = LocalCUDACluster()
client = Client(cluster)

In [ ]:
from blazingsql import BlazingContext

bc = BlazingContext(dask_client=client, network_interface='lo')

.


.


.

## [Storage Plugins](https://docs.blazingdb.com/docs/connecting-data-sources)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()

Register public AWS S3 bucket.

In [ ]:
bc.s3('bsql', bucket_name='blazingsql-colab')

.


.


.

## [Create Tables](https://docs.blazingdb.com/docs/creating-tables)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()

Create table from local CSV file.

In [ ]:
bc.create_table('taxi', 'data/sample_taxi.csv', header=0)

Create table from local Parquet file.

In [ ]:
bc.create_table('taxi', 'data/sample_taxi.parquet', header=0)

Create table from Parquet file stored in public AWS S3 bucket.

In [ ]:
bc.s3('bsql', bucket_name='blazingsql-colab')

bc.create_table('taxi', 's3://bsql/yellow_taxi/taxi_data.parquet')

.


.


.

## [Query Tables](https://docs.blazingdb.com/docs/single-gpu)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()

In [ ]:
bc.create_table('taxi', 'data/sample_taxi.parquet')

Pull all rows and all columns.

In [ ]:
bc.sql('SELECT * FROM taxi')

Determine the average number riders per trip by hour of the day.

In [ ]:
avg_riders_by_hour = '''
                     select
                         avg(cast(passenger_count as float)) as avg_passenger_count,
                         hour(dropoff_ts) as hour_of_the_day
                     from (
                         select
                             passenger_count, 
                             cast(tpep_dropoff_datetime || '.0' as timestamp) dropoff_ts
                         from
                             taxi
                             )
                     group by
                         hour(dropoff_ts)
                     order by
                         hour(dropoff_ts)
                         '''
bc.sql(avg_riders_by_hour)

.


.


.

# SQL Reference




.

## [Data Types](https://docs.blazingdb.com/docs/database-administration)

Data Types

These are the currently supported data types for BlazingSQL:

    Integer
        INT8
        INT16
        INT32
        INT64
    Floating Point
        FLOAT8
        FLOAT16
        FLOAT32
        FLOAT64
    Strings
        STR
    Date Time
        DATE32 (INT32_T DAYS since the UNIX Epoch)
        DATE64 (INT64_T MILLISECONDS since the UNIX Epoch)
        TIMESTAMP (INT64 encoded as exact TIMESTAMP since the UNIX Epoch)

.


.


.

## [General SQL](https://docs.blazingdb.com/docs/queries)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()

In [ ]:
bc.create_table('taxi', 'data/sample_taxi.parquet')

#### Select

In [ ]:
bc.sql('SELECT * from taxi')

In [ ]:
bc.sql('SELECT passenger_count, trip_distance, index, fare_amount from taxi')

#### Where
Query data and filter rows with a condition(s).

In [ ]:
# --Single Filter
bc.sql('select * from taxi WHERE passenger_count = 2')

In [ ]:
# --Multiple Filters (AND)
bc.sql('select * from taxi WHERE passenger_count > 2 AND trip_distance < 10')

In [ ]:
# --Multiple Filters (OR)
bc.sql('select * from taxi WHERE passenger_count >= 2 AND trip_distance <= 10')

In [ ]:
# --Multiple Filters (AND/OR)
bc.sql('select * from taxi WHERE (passenger_count <> 2 OR fare_amount > 100) AND trip_distance >= 10')

#### Group By
Groups result set of a query by one or more columns.

.


.


.

## Functions

### [Unary Functions](https://docs.blazingdb.com/docs/unary-ops)

.


.


.

### [Binary Functions](https://docs.blazingdb.com/docs/binary-ops)

.


.


.

### [DateTime Functions](https://docs.blazingdb.com/docs/datetime-functions)

.


.


.

### [String Functions](https://docs.blazingdb.com/docs/string-functions)

.


.


.

## [Reserved Words](https://docs.blazingdb.com/docs/reserved-words)

BlazingSQL uses the Apache Calcite industry-standard SQL parser, validator and JDBC driver for SQL language. There is a common list of words that are reserved for the engine and, outside of their specified functionality, should not be used by users. 

You can find this list in:
- [Calcite Docs](https://calcite.apache.org/docs/reference.html#keywords)
- [Calcite Source Code](https://github.com/apache/calcite/blob/master/core/src/main/codegen/templates/Parser.jj#L6740)

.


.


.