# SQL Reference

## Data Types
[Docs](https://docs.blazingdb.com/docs/database-administration) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#SQL-Reference)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()

In [ ]:
import cudf
df = cudf.read_csv('../data/sample_taxi.csv')

These are the currently supported data types for BlazingSQL:

    Integer
        INT8
        INT16
        INT32
        INT64

In [ ]:
df['VendorID'] = df['VendorID'].astype('int8')

df['passenger_count'] = df['passenger_count'].astype('int16')

df['trip_distance'] = df['trip_distance'].astype('int32')

df['RatecodeID'] = df['RatecodeID'].astype('int64')

bc.create_table('taxi', df)

In [ ]:
bc.sql('SELECT VendorID, passenger_count, trip_distance, RatecodeID FROM taxi LIMIT 5')


#### Floating Point
        FLOAT8
        FLOAT16
        FLOAT32
        FLOAT64

In [ ]:
df['RatecodeID'] = df['RatecodeID'].astype('float32')

df['payment_type'] = df['payment_type'].astype('float64')

bc.create_table('taxi', df)

In [ ]:
bc.sql('SELECT RatecodeID, payment_type FROM taxi LIMIT 5')

#### Strings
        STR
#### Date Time
        DATE32 (INT32_T DAYS since the UNIX Epoch)
        DATE64 (INT64_T MILLISECONDS since the UNIX Epoch)
        TIMESTAMP (INT64 encoded as exact TIMESTAMP since the UNIX Epoch)

In [ ]:
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].astype('str')

df['dropoff_datetime64'] = df['tpep_dropoff_datetime'].astype('datetime64[ns]')

bc.create_table('taxi', df)

In [ ]:
query = '''
        select
            tpep_pickup_datetime,
            dropoff_datetime64,
            cast(tpep_dropoff_datetime as TIMESTAMP)
        from
            taxi
            '''
bc.sql(query)