# SQL Reference

## Functions

### Unary Functions
[Docs](https://docs.blazingdb.com/docs/unary-ops) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#Unary-Functions)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

#### FLOOR
Returns the largest integer value that is smaller than or equal to a number.
```sql
SELECT FLOOR(column_A) FROM table_A
```

In [ ]:
bc.sql('select FLOOR(trip_distance), trip_distance from taxi')

#### CEILING
Returns the smallest integer value that is larger than or equal to a number.
```sql
SELECT CEILING(column_A) FROM table_A
```

In [ ]:
bc.sql('select CEILING(trip_distance), trip_distance from taxi')

#### SIN
```sql
SELECT SIN(column_A) FROM table_A
```

In [ ]:
bc.sql('select SIN(trip_distance) from taxi')

#### COS
```sql
SELECT COS(column_A) FROM table_A
```

In [ ]:
bc.sql('select COS(trip_distance) from taxi')

#### TAN
```sql
SELECT TAN(column_A) FROM table_A
```

In [ ]:
bc.sql('select TAN(trip_distance) from taxi')

#### ASIN

In [ ]:
bc.sql('select ASIN(trip_distance) from taxi')

#### ACOS

In [ ]:
bc.sql('select ACOS(trip_distance) from taxi')

#### ATAN

In [ ]:
bc.sql('select ATAN(trip_distance) from taxi')

#### ABSOLUTE (ABS)

In [ ]:
bc.sql('select ABS(dropoff_x) from taxi')

#### LN

In [ ]:
bc.sql('select LN(trip_distance) from taxi')

#### LOG

In [ ]:
bc.sql('select LOG10(trip_distance) from taxi')

.


.


.

### Binary Functions
[Docs](https://docs.blazingdb.com/docs/binary-ops) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#Binary-Functions)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

#### Addition

In [ ]:
bc.sql('select fare_amount + tip_amount from taxi')

#### Subtraction

In [ ]:
bc.sql('select total_amount - fare_amount from taxi')

#### Multiplication

In [ ]:
bc.sql('select trip_distance * passenger_count from taxi')

#### Division

In [ ]:
bc.sql('select tip_amount / passenger_count from taxi')

#### MODULUS (MOD)

In [ ]:
bc.sql('select MOD(tip_amount, fare_amount) from taxi')

#### POWER

In [ ]:
bc.sql('select POWER(tip_amount, fare_amount) from taxi')

#### EQUAL TO

In [ ]:
bc.sql('select (fare_amount = total_amount) from taxi')

#### NOT EQUAL TO

In [ ]:
bc.sql('select fare_amount <> total_amount from taxi')

#### LESS THAN

In [ ]:
bc.sql('select fare_amount < tip_amount from taxi')

#### GREATER THAN

In [ ]:
bc.sql('select fare_amount > tip_amount from taxi')

#### LESS THAN OR EQUAL TO

In [ ]:
bc.sql('select fare_amount <= tip_amount from taxi')

#### GREATER THAN OR EQUAL TO

In [ ]:
bc.sql('select fare_amount >= tip_amount from taxi')

.


.


.

### DateTime Functions
[Docs](https://docs.blazingdb.com/docs/datetime-functions) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#DateTime-Functions)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

#### YEAR

In [ ]:
query = '''
        select 
            YEAR(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

#### MONTH

In [ ]:
query = '''
        select 
            MONTH(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

#### DAY

In [ ]:
query = '''
        select 
            DAYOFMONTH(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

#### HOUR

In [ ]:
query = '''
        select 
            HOUR(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

#### MINUTE

In [ ]:
query = '''
        select 
            MINUTE(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

#### SECOND

In [ ]:
query = '''
        select 
            SECOND(
                cast(tpep_pickup_datetime || '.0' as timestamp)
                )
        from
            taxi
        '''
bc.sql(query)

.


.


.

### String Functions
[Docs](https://docs.blazingdb.com/docs/string-functions) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#String-Functions)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../data/sample_taxi.parquet')

#### CONCAT
Concatenate two strings with the `||` operator.

```sql
SELECT column_A || column_B FROM table_A
```

In [ ]:
query = '''
        select 
            tpep_pickup_datetime || '.001'
        from
            taxi
            '''
bc.sql(query)

#### SUBSTRING
```sql
SELECT SUBSTRING(string_column, start, length) FROM table
```

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4)
        from
            taxi
            '''
bc.sql(query)

In [ ]:
query = '''
        select 
            SUBSTRING(tpep_pickup_datetime, 0, 4) || '-' || SUBSTRING(tpep_pickup_datetime, 12, 8) 
        from
            taxi
            '''
bc.sql(query)

#### CHAR_LENGTH
Gets the length of a string.
```sql
SELECT CHAR_LENGTH(string_col) FROM table
```

In [ ]:
query = '''
        select 
            CHAR_LENGTH(tpep_pickup_datetime) 
        from 
            taxi
            '''
bc.sql(query)