# SQL Reference

## General SQL
[Docs](https://docs.blazingdb.com/docs/queries)

### CASE
[Docs](https://docs.blazingdb.com/docs/queries#case)

```sql
SELECT CASE WHEN column_A > 5 THEN 1 ELSE 0 END FROM table_A
```

#### CASE

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            CASE 
                WHEN fare_amount > 20 THEN 1 
                ELSE 0 END, 
            CASE 
                WHEN tpep_pickup_datetime like '%-01-01%' THEN 1 
                ELSE 0 END
        from
            taxi
            '''
bc.sql(query)

### GROUP BY
[Docs](https://docs.blazingdb.com/docs/queries#group-by)

Groups result set of a query by one or more columns. Can be used with or without aggregations.
```sql
SELECT column_A FROM table_A GROUP BY column_A
SELECT column_A, column_B FROM table_A GROUP BY column_A, column_B
SELECT column_A, SUM(column_C), COUNT(column_D) FROM table_A GROUP BY column_A
SELECT column_A, column_B, SUM(column_C), COUNT(column_D) FROM table_A GROUP BY column_A, column_B
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')
bc.describe_table('taxi')

In [ ]:
bc.sql('select VendorID from taxi GROUP BY VendorID')

In [ ]:
bc.sql('select VendorID, payment_type from taxi GROUP BY VendorID, payment_type')

In [ ]:
bc.sql('select VendorID, AVG(fare_amount) from taxi GROUP BY VendorID')

In [ ]:
bc.sql('select VendorID, payment_type, AVG(fare_amount), MAX(trip_distance) from taxi GROUP BY VendorID, payment_type')

#### DISTINCT

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('nation', '../../../data/nation.parquet')

In [ ]:
bc.sql('select DISTINCT n_regionkey from nation')

### JOIN
[Docs](https://docs.blazingdb.com/docs/queries#join)

Combine rows from two or more tables, based on a related column or columns between them.

#### INNER JOIN
[Docs](https://docs.blazingdb.com/docs/queries#inner)

```sql
SELECT table_A.column_A, table_B.column_A, table_B.column_C 
FROM table_A 
INNER JOIN table_B 
ON (table_A.column_A = table_B.column_B)
```

#### INNER JOIN SINGLE COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            A.tpep_pickup_datetime, A.VendorID,
            B.passenger_count, B.trip_distance, B.fare_amount
        from 
            taxi_a as A
        INNER JOIN 
            taxi_b as B
            ON A.tpep_pickup_datetime = B.tpep_pickup_datetime
            '''
bc.sql(query)

#### INNER JOIN MULTI-COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            A.tpep_pickup_datetime, A.VendorID,
            B.passenger_count, B.trip_distance, B.fare_amount
        from 
            taxi_a as A
        INNER JOIN 
            taxi_b as B
            ON A.tpep_pickup_datetime = B.tpep_pickup_datetime
            AND A.VendorID = B.VendorID
            '''
bc.sql(query)

#### FULL OUTER JOIN
[Docs](https://docs.blazingdb.com/docs/queries#full-outer)

```sql
SELECT table_A.column_A, table_B.column_A, table_B.column_C 
FROM table_A 
FULL OUTER JOIN table_B 
ON (table_A.column_A = table_B.column_B)
```

#### FULL OUTER JOIN SINGLE COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            taxi_a.tpep_pickup_datetime, 
            taxi_b.passenger_count, 
            taxi_b.fare_amount 
        from 
            taxi_a 
        FULL OUTER JOIN 
            taxi_b 
            ON taxi_a.tpep_dropoff_datetime = taxi_b.tpep_dropoff_datetime
            '''
bc.sql(query)

#### FULL OUTER JOIN MULTI-COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            taxi_a.tpep_pickup_datetime, 
            taxi_b.passenger_count, 
            taxi_b.fare_amount 
        from 
            taxi_a 
        FULL OUTER JOIN 
            taxi_b 
            ON taxi_a.tpep_dropoff_datetime = taxi_b.tpep_dropoff_datetime AND taxi_a.tpep_pickup_datetime = taxi_b.tpep_pickup_datetime
            '''
bc.sql(query)

#### LEFT OUTER JOIN
[Docs](https://docs.blazingdb.com/docs/queries#left-outer)

```sql
SELECT table_A.column_A, table_B.column_A, table_B.column_C 
FROM table_A 
LEFT JOIN table_B 
ON (table_A.column_A = table_B.column_B)
```

#### LEFT JOIN SINGLE COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            taxi_a.tpep_pickup_datetime, 
            taxi_b.passenger_count, 
            taxi_b.fare_amount 
        from 
            taxi_a 
        LEFT JOIN 
            taxi_b 
            ON taxi_a.tpep_dropoff_datetime = taxi_b.tpep_dropoff_datetime
            '''
bc.sql(query)

#### LEFT JOIN MULTI-COLUMN

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi_a', '../../../data/sample_taxi.parquet')
bc.create_table('taxi_b', '../../../data/sample_taxi.csv', header=0)

In [ ]:
query = '''
        select 
            taxi_a.tpep_pickup_datetime, 
            taxi_b.passenger_count, 
            taxi_b.fare_amount 
        from 
            taxi_a 
        LEFT JOIN 
            taxi_b 
            ON taxi_a.tpep_dropoff_datetime = taxi_b.tpep_dropoff_datetime AND taxi_a.tpep_pickup_datetime = taxi_b.tpep_pickup_datetime
            '''
bc.sql(query)

#### CROSS JOIN
[Docs](https://docs.blazingdb.com/docs/queries#cross-join)

```sql
SELECT table_A.column_A, table_B.column_A, table_B.column_C 
FROM table_A 
CROSS JOIN table_B
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('iris_a', '../../../data/iris.orc')
bc.create_table('iris_b', '../../../data/iris.csv', header=0)

In [ ]:
query = '''
        select 
            iris_a.sepal_length, 
            iris_b.sepal_length
        from 
            iris_a 
        CROSS JOIN 
            iris_b             
            '''
bc.sql(query)

### ORDER BY
[Docs](https://docs.blazingdb.com/docs/queries#order-by)

```sql
SELECT column_A, column_B FROM table_A ORDER BY column_A
```

#### ORDER BY without Specifying (defaults to Ascending)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select passenger_count, fare_amount FROM taxi ORDER BY trip_distance')

#### ORDER BY Specifying Ascending

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select passenger_count, fare_amount from taxi ORDER BY trip_distance ASC')

#### ORDER BY Specifying Descending

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select passenger_count, fare_amount from taxi ORDER BY trip_distance DESC')

### Nested Queries
[Docs](https://docs.blazingdb.com/docs/queries#nested-queries)

A query nested inside another query that uses values from the outer query may appear elsewhere.

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
query = '''
        select 
            pickup_time, passenger_count, trip_distance, cost 
        from
            (
            SELECT 
                *,
                tpep_pickup_datetime AS pickup_time, 
                total_amount - tip_amount AS cost 
            FROM 
                taxi 
                WHERE
                    passenger_count <> 1
            )
            '''
bc.sql(query)

In [ ]:
query = '''
        select 
            year(pickup_time) as pickup_year, month(pickup_time) as pickup_month, dayofmonth(pickup_time) as pickup_day,
            passenger_count, trip_distance, cost 
        from
            (
            SELECT 
                *,
                tpep_pickup_datetime AS pickup_time, 
                total_amount - tip_amount AS cost 
            FROM 
                taxi 
                WHERE
                    passenger_count <> 1
            )
            '''
bc.sql(query)

### SELECT
[Docs](https://docs.blazingdb.com/docs/queries#select)

```sql
SELECT * FROM table_a
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('SELECT * from taxi')

In [ ]:
bc.sql('SELECT passenger_count, trip_distance, fare_amount from taxi')

### WHERE
[Docs](https://docs.blazingdb.com/docs/queries#where) | [BlazingSQL Notebooks](https://app.blazingsql.com/jupyter/user-redirect/lab/workspaces/auto-b/tree/Welcome_to_BlazingSQL_Notebooks/docs/blazingsql.ipynb#WHERE)

Query data and filter rows with a condition(s).

```sql
SELECT * FROM table_a WHERE condition_a
```

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select * from taxi WHERE passenger_count = 2')

#### WHERE -- Multiple Filters (AND)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select * from taxi WHERE passenger_count > 2 AND trip_distance < 10')

#### WHERE -- Multiple Filters (OR)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
bc.sql('select * from taxi WHERE passenger_count >= 2 OR trip_distance <= 10')

#### WHERE -- Multiple Filters (AND/OR)

In [ ]:
from blazingsql import BlazingContext
bc = BlazingContext()
bc.create_table('taxi', '../../../data/sample_taxi.parquet')

In [ ]:
query = ''' 
        select 
            * 
        from 
            taxi 
                WHERE 
                    (passenger_count <> 2 OR fare_amount > 100) 
                    AND trip_distance >= 10
                    '''
bc.sql(query)

# BlazingSQL Docs
**[Table of Contents](../TABLE_OF_CONTENTS.ipynb) | [Issues (GitHub)](https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/issues)**